
  {{#each this}}
    <div class="task-list__item category_{{category}} priority_{{priority.name}}" data-id="{{id}}" data-key="{{key}}">
      <div class="task-list__date paddind-clear">
          <span class="date-icon daily-task__icon-trash task-list__icon-trash icon-trash"></span>
      </div>
      <div class="task-list__data">
        <div class="task-list__text">
          <h3 class="task-list__title">{{title}}</h3>
          <p class="task-list__p">
            {{description}}
          </p>
        </div>
        <div class="task-list__btns">
          <a href="#" class="icon-edit task-list__btns-edit"></a>
          <a href="#" class="icon-trash task-list__btns-trash" data-isremove="true"></a>
        </div>
      </div>
      <div class="task-list__estimation icon-tomato">
        <a href="/timer" class=" task-list__estimation-text ">{{estimation}}</a>
      </div>
    </div>
{{/each }}
